<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <ul class="navbar-nav">
            <li><a *ngIf="autenticacao.isUsuarioLogado()" routerLink="/dashboard" class="nav-link"><button class="btn btn-link nav-link">Pagnia Inicial</button></a></li>
            <li><a *ngIf="autenticacao.isUsuarioLogado()" routerLink="/listagemCarga" class="nav-link"><button class="btn btn-link nav-link">Registrar Carga</button></a></li>
            <li><a *ngIf="autenticacao.isUsuarioLogado()" routerLink="/listagemUsuario" class="nav-link"><button class="btn btn-link nav-link">Registrar Usuário</button></a></li>
            <li><a *ngIf="autenticacao.isUsuarioLogado()" routerLink="/listagemFilial" class="nav-link"><button class="btn btn-link nav-link">Registrar Filial</button></a></li>
            <li><a *ngIf="autenticacao.isUsuarioLogado()" routerLink="/listagemVeiculo" class="nav-link"><button class="btn btn-link nav-link">Registrar Veículo</button></a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!autenticacao.isUsuarioLogado()" routerLink="/login" class="nav-link"><button class="btn btn-link nav-link">Login</button></a></li>
            <li><a *ngIf="autenticacao.isUsuarioLogado()" routerLink="/logout" class="nav-link"><button class="btn btn-link nav-link">Logout</button></a></li>
        </ul>
    </nav>
</header>   
