<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!doctype html>
<html lang="en">

<link href="veiculo.component.css" rel="stylesheet">

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Registrar Veículo</h1>
        <input type="text" [(ngModel)]="veiculo.placaVeiculo" name="placaVeiculo" class="form-control mb-3" placeholder="Placa do Veículo" required>
        <input type="text" [(ngModel)]="veiculo.modelo" name="modelo" class="form-control mb-3" placeholder="Modelo" required>
        <input type="text" [(ngModel)]="veiculo.marca" name="marca" class="form-control mb-3" placeholder="Marca" required autofocus>
        <input type="text" [(ngModel)]="veiculo.tipoVeiculo" name="tipoVeiculo" class="form-control mb-3" placeholder="Tipo do Veículo" required>
        <button class="btn btn-custom btn-block mb-3" (click)="save()" type="submit">Registrar</button>
  </form>
</body>
</html>
