<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!doctype html>
<html lang="en">

<link href="registro-carga.component.css" rel="stylesheet">

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Registrar Usuário</h1>
        <input type="text" [(ngModel)]="carga.nomeCliente" name="nomeCliente" class="form-control mb-3" placeholder="Cliente Nome" required>
        <input type="text" [(ngModel)]="carga.cidadeEnvio" name="cidadeEnvio" class="form-control mb-3" placeholder="Cidade de Envio" required>
        <input type="text" [(ngModel)]="carga.cidadeDestino" name="cidadeDestino" class="form-control mb-3" placeholder="Cidade de Destino" required autofocus>
        <input type="text" [(ngModel)]="carga.tipoEnvio" name="tipoEnvio" class="form-control mb-3" placeholder="Tipo de envio" required>
        <textarea class="form-control mb-3" [(ngModel)]="carga.descricaoProdutos" name="descricaoProdutos" placeholder="Descrição do Produtos" required rows="3"></textarea>
        <button class="btn btn-custom btn-block mb-3" (click)="saveCarga()" type="submit">Registrar</button>
  </form>
</body>
</html>
