<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!doctype html>
<html lang="en">

<link href="registrar-usuario.component.css" rel="stylesheet">

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Registrar Usuário</h1>
        <input type="text" [(ngModel)]="usuario.nome" name="nome" class="form-control mb-3" placeholder="Nome do Usuário" required>
        <input type="email" [(ngModel)]="usuario.email" name="email" class="form-control mb-3" placeholder="Endereço de Email" required autofocus>
        <input type="password" [(ngModel)]="usuario.senha" name="senha" class="form-control mb-3" placeholder="Senha" required>
        <input type="text" [(ngModel)]="usuario.cpf" name="cpf" class="form-control mb-3" placeholder="CPF" required>
        <!-- <label for="exampleFormControlSelect1">Tipo de Usuário</label>
        <select class="form-control mb-3" id="exampleFormControlSelect1">
            <option>Administrador</option>
            <option>Usuário</option>
        </select> -->
        <button class="btn btn-custom btn-block mb-3" (click)="saveUsuario()" type="submit">Registrar</button>
  </form>
</body>
</html>
