<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<h1 class="container">Registro de Carga</h1>

<div class="alert alert-success container" *ngIf="mensagem">{{mensagem}}</div>

<div class="container">
    <button (click)="insert()" class="btn btn-success">Novo</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nome Cliente</th>
                <th>Cidade Envio</th>
                <th>Cidade Destino</th>
                <th>Tipo Envio</th>
                <th>Descrição Produto</th>
                <th>Atualizar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let carga of cargas">
                <td>{{carga.nomeCliente}}</td>
                <td>{{carga.cidadeEnvio}}</td>
                <td>{{carga.cidadeDestino}}</td>
                <td>{{carga.tipoEnvio}}</td>
                <td>{{carga.descricaoProdutos}}</td>
                <td><i class="fas fa-edit" (click)="update(carga.idCarga)" style="cursor: pointer"></i></td>
                <td><i class="fas fa-trash-alt" (click)="deletarCarga(carga.idCarga)" style="cursor: pointer"></i></td>
            </tr>
        </tbody>

    </table>
</div>
