<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="login.component.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <div class="alert alert-warning" *ngIf='loginInvalido'>{{mensagemErro}}</div>
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Endereço de Email</label>
      <input type="email" name="username" [(ngModel)]="username" class="form-control" placeholder="Endereço de Email" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" name="passarword" [(ngModel)]="password" class="form-control" placeholder="Senha" required>
      <button class="btn btn-custom btn-block" (click)=fazerLogin() type="submit">Login</button>
    </form>
  </body>
</html>
