html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: #f5f5f5;
} 

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  background-color: #e8e8e8;
}
.form-signin .checkbox {
  font-weight: 600;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-custom {
  background-color: #73b4ff;
  color: #000000; /* Cor do texto */
}