<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!doctype html>
<html lang="en">

<link href="filial.component.css" rel="stylesheet">

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Registrar Filial</h1>
        <input type="text" [(ngModel)]="filial.nomeFilial" name="nomeFilial" class="form-control mb-3" placeholder="Nome da Filial" required>
        <input type="text" [(ngModel)]="filial.telefone" name="telefone" class="form-control mb-3" placeholder="Telefone" required>
        <input type="text" [(ngModel)]="filial.cnpj" name="cnpj" class="form-control mb-3" placeholder="CNPJ" required autofocus>
        <input type="text" [(ngModel)]="filial.endereco" name="endereco" class="form-control mb-3" placeholder="Endereço" required>
        <input type="text" [(ngModel)]="filial.cidade" name="cidade" class="form-control mb-3" placeholder="Cidade" required autofocus>
        <input type="text" [(ngModel)]="filial.cep" name="cep" class="form-control mb-3" placeholder="CEP" required>
        <button class="btn btn-custom btn-block mb-3" (click)="save()" type="submit">Registrar</button>
  </form>
</body>
</html>
