<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<h1 class="container">Registro de Filiais</h1>

<div class="alert alert-success container" *ngIf="mensagem">{{mensagem}}</div>

<div class="container">
    <button (click)="insert()" class="btn btn-success">Novo</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nome Filial</th>
                <th>Telefone</th>
                <th>CNPJ</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>CEP</th>
                <th>Atualizar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let filial of filiais">
                <td>{{filial.nomeFilial}}</td>
                <td>{{filial.telefone}}</td>
                <td>{{filial.cnpj}}</td>
                <td>{{filial.endereco}}</td>
                <td>{{filial.cidade}}</td>
                <td>{{filial.cep}}</td>
                <td><i class="fas fa-edit" (click)="update(filial.idFilial)" style="cursor: pointer"></i></td>
                <td><i class="fas fa-trash-alt" (click)="deletar(filial.idFilial)" style="cursor: pointer"></i></td>
            </tr>
        </tbody>

    </table>
</div>
